/*-----------------------------------------------------------------------*/
/* GLOBAL                                                                */
/*-----------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight:100;
}

h1, h2, h3 {
  font-weight:100;
}

h3 {
  text-align:center;
  text-transform:uppercase;
}

@media (min-width: 992px) {
  h1, h2 {
    font-size:40px;
  }
  h3, p {
    font-size:21px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1, h2 {
    font-size:30px;
  }
  h3, p {
    font-size:18px;
  }
}

@media (max-width: 767px) {
  h1, h2 {
    font-size:24px;
  }
  h3, p {
    font-size:14px;
  }
}

.sectionbleue {
  background-color:#028090;
  color:white;
}

.sectiongrise {
  background-color:#edf7f6;
}

.keyword {
  text-transform:uppercase;
  color:#028090;
  font-weight:600;
}

.container {
  padding:15px;
}

/*-----------------------------------------------------------------------*/
/* GLOBAL                                                                */
/*-----------------------------------------------------------------------*/

.banner {
  height:90vh;
}

.banner .container {
  height:100%;
  padding:5%;
  position:relative;
}

.banner .logo {
  text-align:right;
  position:absolute;
  top:15px;
  right:15px;
  width:100%;
}

h1 {
  color:rgba(1,1,1,0.5);
}

h1, h2 {
  text-transform:uppercase;
}

@media (min-width: 992px) {
  h2{font-size:30px;}
  .banner .bonjour .keyword {font-size:50px;}
}
@media (min-width: 768px) and (max-width: 991px) {
  h2{font-size:24px;}
  .banner .bonjour .keyword {font-size:40px;}
}
@media (max-width: 767px) {
  h2{font-size:18px;}
  .banner .bonjour .keyword {font-size:30px;}
}

.banner .bonjour {
  position:absolute;
  top:20vh;
  width:100%;
}

.banner .humaniste {
  position:absolute;
  bottom:0;
  width:100%;
}

/*-----------------------------------------------------------------------*/
/* MISSION                                                               */
/*-----------------------------------------------------------------------*/

.mission p {
  text-align:center;
}
@media (min-width: 992px) {
  .mission p{font-size:30px; margin:30px auto;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .mission p{font-size:24px; margin:24px auto;}
}
@media (max-width: 767px) {
  .mission p{font-size:18px; margin:18px auto;}
}


/*-----------------------------------------------------------------------*/
/* SUJETS                                                                */
/*-----------------------------------------------------------------------*/

.raisondetre {

}

.valeurs {
  text-align:right;
}

.autressujets {
  text-align:center;
}

/*-----------------------------------------------------------------------*/
/* valeursperso                                                          */
/*-----------------------------------------------------------------------*/

.valeursperso {
  text-align:center;
}

@media (min-width: 992px) {
  .valeursperso .keyword {font-size:30px;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .valeursperso .keyword {font-size:24px}
}
@media (max-width: 767px) {
  .valeursperso .keyword {font-size:18px}
}

/*-----------------------------------------------------------------------*/
/* TÉMOIGNAGES                                                           */
/*-----------------------------------------------------------------------*/

.carousel-indicators {
  position:absolute;
  bottom:-10px;
}

/*-----------------------------------------------------------------------*/
/* REF                                                                   */
/*-----------------------------------------------------------------------*/

img {
  width:100%;
  height:auto;
}



/*-----------------------------------------------------------------------*/
/* BOOTSTRAP                                                             */
/*-----------------------------------------------------------------------*/

a.btn-primary {
  background-color: #028090;
  border-color: #028090;
}

a.btn-primary:hover {
  background-color: #028090;
  border-color: #028090;
}

/*@media (min-width: 992px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (max-width: 767px) {}*/

