/*-----------------------------------------------------------------------*/
/* GLOBAL                                                                */
/*-----------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight:100;
  /* Couleurs */
  --blue: rgb(2, 128, 144);
  --grey: rgb(227, 232, 232);
  --orange: rgb(244, 142, 0);
}

h1, h2, h3 {
  font-weight:100;
}

h3 {
  text-align:center;
  text-transform:uppercase;
  margin: 10px 0px 25px 0px;
}

a {
  color:var(--blue);
}

a:hover {
  color:var(--orange);
  text-decoration:none;
}

@media (min-width: 992px) {
  h1 {
    font-size:42px;
  }
  h2 {
    font-size:30px;
  }
  h3, p {
    font-size:18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1{
    font-size:36px;
  }
  h2 {
    font-size:21px;
  }
  h3, p {
    font-size:15px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size:30px;
  }
  h2 {
    font-size:21px;
  }
  h3, p {
    font-size:15px;
  }
}

.sectionbleue {
  background-color: var(--blue);
  color:white;
}

.sectiongrise {
  background-color: var(--grey);
}

.keyword {
  text-transform:uppercase;
  color:var(--blue);
  font-weight:600;
}

.container {
  padding:15px;
}

.articles {
  margin-top:-10px;
}

/*-----------------------------------------------------------------------*/
/* BANNER                                                                */
/*-----------------------------------------------------------------------*/

.banner {
  height:85vh;
  background-image: url("../assets/images/MaximedeBeauchesne_Portrait.png");
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position:right bottom;
}

.banner .container {
  height:100%;
  padding:5%;
  position:relative;
}

.banner .logo {
  text-align:right;
  position:absolute;
  top:15px;
  right:15px;
  width:100%;
}

h1 {
  color:rgba(1,1,1,0.5);
}

h1, h2 {
  text-transform:uppercase;
}

.bonjour p {
  margin-bottom:-5px;
  text-transform:uppercase;
}

@media (min-width: 992px) {
  .banner h2{font-size:21px;}
  .banner .bonjour {text-align:left;}
  .banner .bonjour .keyword {font-size:50px;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .banner h2{font-size:18px;}
  .banner .bonjour {text-align:center;}
  .banner .bonjour .keyword {font-size:40px;}
}
@media (max-width: 767px) {
  .banner h2{font-size:14px;}
  .banner .bonjour {text-align:left;}
  .banner .bonjour .keyword {font-size:30px;}
}

.banner .bonjour {
  position:absolute;
  top:20vh;
  width:100%;
}

.banner .humaniste {
  position:absolute;
  bottom:0;
  width:100%;
}

/*-----------------------------------------------------------------------*/
/* MISSION                                                               */
/*-----------------------------------------------------------------------*/

.mission {
  background-image: url("../assets/images/MontBlancInstinkto.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position:bottom;
  padding-bottom:5%;
}

.mission p {
  text-align:center;
}
@media (min-width: 992px) {
  .mission p{font-size:30px; margin:30px auto;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .mission p{font-size:24px; margin:24px auto;}
}
@media (max-width: 767px) {
  .mission p{font-size:18px; margin:18px auto;}
}


/*-----------------------------------------------------------------------*/
/* SUJETS                                                                */
/*-----------------------------------------------------------------------*/


.valeurs {
  text-align:right;
}

.autressujets {
  text-align:center;
  margin: 15px 0px 0px 0px;
}

@media (min-width: 992px) {
  .raisondetre p {padding-right:15%;}
  .valeurs p {padding-left:15%;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .raisondetre p {padding-right:10%;}
  .valeurs p {padding-left:10%;}
}
@media (max-width: 767px) {
  .sujet {margin:25px 0px;}
}

/*-----------------------------------------------------------------------*/
/* VALEURSPERSO                                                          */
/*-----------------------------------------------------------------------*/

.valeursperso {
  text-align:center;
}

@media (min-width: 992px) {
  .valeursperso .keyword {font-size:30px;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .valeursperso .keyword {font-size:24px}
}
@media (max-width: 767px) {
  .valeursperso .keyword {font-size:18px}
}

/*-----------------------------------------------------------------------*/
/* TÉMOIGNAGES                                                           */
/*-----------------------------------------------------------------------*/

.carousel-indicators {
  position:absolute;
  bottom:-10px;
}

.testimony p {
  margin:0px;
}

.author, .role {
  text-align:right;
}

.author {
  font-weight:600;
}

@media (min-width: 992px) {
  .role {font-size:15px;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .role {font-size:12px;}
}
@media (max-width: 767px) {
  .role {font-size:12px;}
}

/*-----------------------------------------------------------------------*/
/* REF                                                                   */
/*-----------------------------------------------------------------------*/

.CarouselForReferenes {
  margin: 10px 0px 25px 0px;
}

img {
  width:100%;
  height:auto;
}

/*-----------------------------------------------------------------------*/
/* FOOTER                                                                */
/*-----------------------------------------------------------------------*/

.footer {
  padding-bottom:20px;
}

.footercontent {
  display: flex;
  justify-content:center;
  align-items: center;
  width:100%;
}
.footercontent a {
  color:white;
}

.footercontent a:hover {
  color:var(--orange);
}

.footercontent .fab {
  font-size:40px;
  margin-right:5px;
}

.footercontent img {
  width:110px;
  border-radius:5%;
}

.footer h2 {
  font-size:18px;
  font-weight:400;
  margin:0px;
}
.footer p, .footer a {
  font-size:15px;
  margin:0px;
}

@media (min-width: 992px) {
  .footercontent img {margin-right:15px;}

}
@media (min-width: 768px) and (max-width: 991px) {
  .footercontent img {margin-right:15px;}
}
@media (max-width: 767px) {
  .footercontent {flex-direction:column; text-align:center;}
}

/*@media (min-width: 992px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (max-width: 767px) {}*/

